[submodule "frontend"]
	path = frontend
	url = https://github.com/hady-awayda/e-learning-system-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/hady-awayda/e-learning-system-backend.git
